@import url('https://fonts.googleapis.com/css2?family=Fira+Code');
.App {
  background-color: #0f70da;
  padding: 20px;
  display: flex;
  justify-content: center;
}
.container,
.home-container {
  max-width: 1300px;
  max-height: 1024px;
  width: 100%;
  box-shadow: 2px 3px 12px -2px;
  height: 100%;
}
.bg-img-container,
.confirm-container,
.verify-container,
.form-container {
  width: 100%;
}
.input-container,
.form-container,
.verify-container,
.container,
.home-content-container,
.confirm-container,
.bg-img-container {
  display: flex;
}

.bg-img-container {
  flex-direction: column;
  align-items: center;
  padding: 40px;
}
.form-container,
.verify-container,
.confirm-container {
  position: relative;
  flex-direction: column;
  padding: 40px;
  background-color: #fff;
}
.logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
}
.logo-title {
  margin-left: 10px;
  color: #000;
  font-family: 'Fira Code', 'monospace';
}
form {
  margin: 30px 0 10px;
}
.intro-container,
.intro {
  color: #0f70da;
  text-align: center;
}
.intro-container > p {
  font-size: 11px;
  color: #000;
}
.bg-heading {
  color: #fff;
  margin-bottom: 50px;
  text-align: center;
}
.bg-img-container {
  background-color: #0775ee;
}

.input-container {
  flex-direction: column;
  margin-bottom: 20px;
}
.input-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 10px;
}
input {
  width: 100%;
  padding: 10px 20px;
  outline: none;
  border: 1px solid rgb(129, 124, 124);
  border-radius: 5px;
}
input:focus {
  border-color: #0775ee;
}
label {
  font-size: 14px;
}
.show-pass-btn {
  position: absolute;
  height: 15px;
  right: 20px;
  background: none;
  border: none;
}
.form-btn,
.verify-btn {
  width: 100%;
  background-color: #000;
  border: none;
  color: #0775ee;
  padding: 10px 0;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
}
.form-btn:focus {
  opacity: 0.7;
}
.form-footer > h5 {
  font-weight: 300;
  text-align: center;
}
.forgot-pass {
  display: block;
  color: #0f70da;
  margin-bottom: 5px;
  text-align: center;
}
.email-confirm-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.email-confirm-text h3,
.check-container ~ h3 {
  margin-bottom: 20px;
  font-weight: 400;
  color: #0f70da;
}
.email-confirm-text p,
.check-container ~ p {
  text-align: center;
  margin-bottom: 40px;
}
.check-container ~ h3 {
  text-align: center;
}
.check-container {
  width: 100px;
  align-self: center;
}
.backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
.home-container {
  background-color: #f7f7f7;
  padding: 40px;
}
.home-content-container {
  position: relative;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: calc(100% - 75px);
}
.error {
  border: 1px solid red;
}
.error-msg {
  font-size: 10px;
  color: red;
}
.joke-text {
  position: relative;
  top: 60px;
  line-height: 1.5;
}
.loader {
  position: absolute;
  top: 25%;
  left: calc(50% - 25px);
  border: 3px solid #f3f3f3;
  border-top: 3px solid #0f70da;
  border-radius: 50%;
  margin: 90px auto;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.pulse,
.button {
  position: absolute;
  top: 210px;
  width: 80px;
  height: 40px;
  border-radius: 5px;
  background: #0f70da
  
  ;
  color: #fff;
}
.pulse {
  animation: pulse 1.2s ease infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1, 1);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
@media (max-width: 768px) {
  .bg-img-container {
    display: none;
  }
  .backdrop {
    position: fixed;
  }
}
@media (max-width: 425px) {
  .App {
    padding: 10px;
  }
  .intro {
    font-size: 16px;
  }
  label {
    font-size: 12px;
  }
}
@media (max-width: 375px) {
  .home-img {
    width: 160px;
  }
  .home-container p {
    font-size: 14px;
  }
  .form-container {
    overflow-y: scroll;
  }
  .pulse,
  .button {
    top: 150px;
  }
  .joke-text{
    top: 70px;
  }
}
