.App {
  background-color: #0f70da;
  padding: 20px;
  display: flex;
  justify-content: center;
}
.container, .home-container {
  max-width: 1300px;
  max-height: 1024px;
  width: 100%;
  box-shadow: 2px 3px 12px -2px;
  height: 100%;
}
.bg-img-container,
.confirm-container,
.verify-container,
.form-container {
  width: 100%;
}
.input-container,
.form-container,
.verify-container,
.container,
.home-container,
.confirm-container,
.bg-img-container {
  display: flex;
}

.bg-img-container {
  flex-direction: column;
  align-items: center;
  padding: 40px;
}
.form-container,
.verify-container,
.confirm-container {
  position: relative;
  flex-direction: column;
  padding: 40px;
  background-color: #fff;
}
.logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
}
.logo-title {
  font-size: 16px;
  margin-left: 10px;
}
form {
  margin: 30px 0 10px;
}
.intro-container, .intro{
  color: #0f70da;
  text-align: center;
}
.intro-container > p {
  font-size: 11px;
  color: #000;
}
.bg-heading {
  color: #fff;
  margin-bottom: 50px;
  text-align: center;
}
.bg-img-container {
  background-color: #0775ee;
}

.input-container {
  flex-direction: column;
  margin-bottom: 20px;
  position: relative;
}
input {
  margin-top: 10px;
  padding: 10px 20px;
  outline: none;
  border: 1px solid rgb(129, 124, 124);
  border-radius: 5px;
}
input:focus {
  border-color: #0775ee;
}
label {
  font-size: 14px;
}
.show-pass-btn {
  position: absolute;
  top: 45px;
  right: 20px;
  background: none;
  border: none;
}
.form-btn,
.verify-btn {
  width: 100%;
  background-color: #000;
  border: none;
  color: #0775ee;
  padding: 10px 0;
  border-radius: 15px;
  cursor: pointer;
  margin: 10px 0;
}
.form-btn:focus {
  opacity: 0.7;
}
.form-footer > h6 {
  font-weight: 300;
  text-align: center;
}
.forgot-pass{
  display: block;
  font-size: 15px;
  margin-bottom: 5px;
  text-align: center;
}
.email-confirm-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.email-confirm-text h3,
.check-container ~ h3 {
  margin-bottom: 20px;
  font-weight: 400;
  color: #0f70da;
}
.email-confirm-text p,
.check-container ~ p {
  text-align: center;
  font-size: 15px;
  margin-bottom: 40px;
}
.check-container ~ h3 {
  text-align: center;
}
.check-container {
  width: 100px;
  align-self: center;
}
.backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
.home-container{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7;
}
.error {
  border: 1px solid red;
}
.error-msg {
  position: absolute;
  bottom: -15px;
  font-size: 10px;
  color: red;
}
.loader {
  position: absolute;
  top: 25%;
  left: 50%;
  border: 3px solid #f3f3f3;
  border-top: 3px solid #0f70da;
  border-radius: 50%;
  margin: 90px auto;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 768px) {
  .bg-img-container {
    display: none;
  }
 
}
@media (max-width: 425px) {
  .form-container {
    padding:10px ;
  }
  .App{
    padding: 10px;
  }
  h3, .intro{
    font-size: 16px
  }
  label{
    font-size: 12px;
  }
}
@media (max-width: 375px) {
  .error-msg{
    font-size: 7px;
  }
  .home-img{
    width: 160px;
  }
  .home-container p {
    font-size: 10px;
  }
}

@media (max-height: 555px){
  .logo-container, .input-container{
    margin-bottom: 10px;
  }
  form{
    margin: 10px 0 0;
  }
  .error-msg{
    bottom: -10px;
  }
  .App{
    padding: 10px;
  }
  
}
